 /* Google fonts import */
 @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

 * {
     padding: 0;
     margin: 0;
     box-sizing: border-box;
 }

 body {
     overflow-x: hidden;
 }

 /* Navbar */

 ul {
     list-style: none;
 }

 a {
     color: whitesmoke;
     text-decoration: none;
 }

 .active {
     color: #fc036b;
     text-decoration: underline;
     font-weight: bold;
 }

 .navbar {
     position: absolute;
     top: 0;
     left: 0;
     display: flex;
     width: 100%;
     justify-content: space-between;
     padding: 20px;
     color: whitesmoke;
     background-color: #42363b;
 }

 .nav-links {
     display: flex;
     align-items: center;
 }

 .nav-links li {
     margin: 0 30px;
 }

 /* Header */
 header {
     width: 100vw;
     height: 100vh;
     background-image: url('../images/background-mountain.jpg');
     background-position: bottom;
     background-size: cover;
     display: flex;
     align-items: flex-end;
     justify-content: center;
 }

 .header-content {
     margin-bottom: 150px;
     color: whitesmoke;
     text-align: center;
 }

 .header-content h2 {
     font-size: 4vmin;
 }

 .line {
     width: 150px;
     height: 4px;
     background: #fc036b;
     margin: 10px auto;
     border-radius: 5px;
 }

 .header-content h1 {
     font-size: 7vmin;
     margin-top: 50px;
     margin-bottom: 30px;
 }

 .menu-btn {
     position: absolute;
     top: 30px;
     right: 30px;
     width: 40px;
     cursor: pointer;
     display: none;
 }

 /* Snapshot */
 section {
     width: 100%;
     margin: 80px auto;
 }

 .title {
     text-align: center;
     font-size: 4vmin;
     color: #42363b;
 }

 .ctn {
     padding: 8px 15px;
     background: #fc036b;
     border-radius: 30px;
     color: whitesmoke;
     margin-bottom: 80px;
     display: inline-flex;
 }

 .row {
     display: flex;
     align-items: center;
     width: 100%;
     justify-content: space-between;
 }

 .row {
     display: block;
     width: 100%;
     text-align: center;
 }

 .col {
     display: flex;
     flex-direction: row;
 }

 .flex-item-left {
     padding: 10px;
     flex: 50%;
     text-align: center;
 }

 .col img {
     width: 70%;
     margin-left: 5%;
     height: 315px;
 }

 .col p {
     height: 90px;
 }

 .flex-item-right {
     padding: 10px;
     flex: 50%;
     text-align: center;
 }

 .snapshot .row {
     margin-top: 50px;
 }

 #citadel {
     width: 80%;
     margin-left: 10%;
     display: block;
 }

 h4 {
     font-size: 4vmin;
     color: #42363b;
     margin: 30px auto;
 }

 p {
     color: #5e585b;
     padding: 0 20px;
 }

 .snapshot .ctn {
     margin-top: 10px;
 }

 /* Balkh page */

 .prov-content {
     display: flex;
     width: 100vw;
     height: 100vh;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     margin-top: 20px;
 }

 .prov-content h2 {
     font-size: 4vmin;
     text-align: center;
     margin-bottom: 40px;
     margin-top: 20px;
     color: #42363b;
 }

 .prov-content p {
     font-size: 3vmin;
     text-align: justify;
     padding: 0 95px;
 }

 .gallery {
     display: flex;
     width: 100%;
     max-width: 1200px;
     flex-wrap: wrap;
     justify-content: center;

 }

 .gallery img {
     width: 250px;
     height: 150px;
     object-fit: cover;
     object-position: bottom;
     padding: 5px;
 }

 /* Feedback Page */
 .feedback-hero {
     width: 100%;
     height: 100vh;
     background-image: url('../images/background-mountain.jpg');
     background-position: center;
     background-size: cover;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
 }

 form {
     width: 90%;
     max-width: 600px;
 }

 .input-group {
     margin-bottom: 30px;
     position: relative;
 }

 input,
 textarea {
     width: 100%;
     padding: 10px;
     outline: 0;
     border: 1px solid #fff;
     background: transparent;
     font-size: 15px;
 }

 label {
     height: 100%;
     position: absolute;
     left: 0;
     top: 0;
     padding: 10px;
     color: #fff;
     cursor: text;
     transition: 0.2s;
 }

 button {
     padding: 10px 0;
     color: #fff;
     outline: none;
     background: transparent;
     border: 1px solid #fff;
     width: 100%;
     cursor: pointer;
     margin-top: 20px;
 }

 input:focus~label,
 input:valid~label,
 textarea:focus~label,
 textarea:valid~label {
     top: -35px;
     font-size: 14px;
 }

 /* Footer */
 .footer {
     width: 100%;
     min-height: 100px;
     padding: 20px 80px;
     margin: 0;
     background: #42363b;
     text-align: center;
     align-items: flex-end;
 }

 .footer p {
     color: whitesmoke;
     margin: 20px auto;
 }

 /* Mobile device */

 @media only screen and (max-width:480px) {
     h4 {
         font-size: large;
     }

     .header-content h1 {
         font-size: x-large;
     }

     .header-content h2 {
         font-size: large;
     }

     .title h1 {
         font-size: large;
     }

     .col {
         flex-direction: column;
     }

     .flex-item-left,
     .flex-item-right {
         width: 100%;
     }

     .prov-content h2 {
         font-size: large;
         padding: 10px;
     }

     .prov-content p {
         font-size: medium;
         margin-bottom: 20%;
         padding: 0 30px;
     }

 }

 @media only screen and (max-width:850px) {
     .menu-btn {
         display: block;
     }

     .navbar {
         padding: 0;
     }

     .logo {
         position: absolute;
         top: 30px;
         left: 30px;
         color: whitesmoke
     }

     .nav-links {
         flex-direction: column;
         width: 100%;
         height: 100vh;
         justify-content: center;
         background-color: #42363b;
         margin-top: -900px;
         transition: all 0.5s ease;
     }

     .mobile-menu {
         margin-top: 0;
         border-bottom-right-radius: 30%;
     }

     .nav-links li {
         margin: 30px auto;
     }

     /* Snapshot */
     .row {
         flex-direction: column;
     }

     .row .col {
         margin: 20px auto;
     }

     .col img {
         max-width: 90%;
         height: auto;
     }

     .col p {
         font-size: large;
     }

     .row p {
         font-size: large;
     }

     .snapshot .ctn {
         margin-top: 60px;
     }

     .footer {
         padding: 10px;
     }
 }

 img {
     transition: transform .3s ease;
 }

 img:hover {
     scale: 1.1;
 }

 .ctn:hover {
     background: whitesmoke;
     color: #fc036b;
     box-shadow: 2px 2px 5px #00000056;
 }

 li:hover {
     color: #fc036b;
     cursor: zoom-out;
 }